<div class="container-fluid main-container d-flex align-items-center">
  <div class="row w-100">
    <div class="col-md-7 d-flex align-items-center justify-content-center flex-column">
      <div class="top-content">
        <div class="row justify-content-center">
          <div class="main-title mb-5">
            <h1><strong>てて つなご</strong></h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="sub-text">
            <h5>
              今日、お子様と手をつなぎましたか？<br><br>
              今日、新しくできるようになったことは？<br><br>
              今日、気付いたら卒業していたことは？<br><br>
            </h5>
          </div>
        </div>
  
        <%# if user_signed_in? %>
          <!--<div class="row justify-content-center">-->
          <!--  <p>マイページへ</p>-->
          <!--</div>-->
        <%# else %>
          <div class="row justify-content-center">
            <div class="button-wrap">
              <%= link_to "ログイン", root_path, class: "btn btn-warning" %>
              <%= link_to "新規登録", root_path, class: "btn btn-success ml-3" %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="button-wrap my-3">
              <%= link_to "ゲストログイン(お試し用)", root_path, method: :post, class: "btn btn-info" %>
            </div>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
</div>